body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 100;
    background: rgb(220,220,220);
}

h1, h2 {
    text-align: center;
}
h1 {
    color: rgb(148,148,148);
}

#text-display {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    color: rgb(40,40,40);
}

textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    resize: vertical;
    background: rgb(240,240,240);
}

button {
    display: block;
    margin: 10px auto;
    width: 20%;
    min-width: 200px;
    padding: 10px;
    font-size: 1rem;
}

input {
    text-align: center;
    background: rgb(240,240,240);
    padding: 5px;
    margin: 10px;
}
